# Managed by Ansible - hardening role
PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
X11Forwarding no
MaxAuthTries {{ hardening_ssh_max_auth_tries }}
ClientAliveInterval {{ hardening_ssh_client_alive_interval }}
ClientAliveCountMax 2
AllowUsers {{ hardening_ssh_allow_users | join(' ') }}
